{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <h1>About Page</h1>
    <p>Welcome to our Naija Hold'em poker game!
        Our game offers a classic and authentic poker experience for players of all skill levels. Whether you're a seasoned pro or new to the game, you'll find plenty of action and excitement at our virtual tables.
        Our user-friendly interface makes it easy to get started. Our game features top-quality graphics and smooth gameplay, so you can enjoy a realistic and immersive poker experience from the comfort of your own home.
        Thank you for choosing our Texas Hold'em poker game. We hope you have a great time playing and we look forward to seeing you at the tables!
    </p>
</div> 
{% endblock content %}
