{% extends "layout.html" %}
from jinja2 import str
{% block content %}
<!-- <img src="{{ url_for('static', filename='images/cards/2_of_clubs.png') }}", width='90', height='120' alt="User Image"> -->
<div>
    {% for player in players %}
        <p></p>
        <div>{{ player.name }} receives a </div>
        {% for card  in hand_list  %}
            <img src="{{ url_for('static', filename='images/cards/' + card) }}", width='90', height='120' alt="Card Image" />
        {% endfor %}
        <p></p>
        {% set index, hand_name, hand_cards  = player.best_hand() %}
        <div>{{ player.name }} has a {{ hand_name }} with a </div>
        <!-- {{  hand_cards_string }} -->
        {% for cards  in hand_cards_str  %}
            <img src="{{ url_for('static', filename='images/cards/' + cards) }}", width='90', height='120' alt="Card Image" />
        {% endfor %}
    {% endfor %}
</div>
<br/>
<p>{{ winner }} has won</p>

{% endblock content %}
