{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Games played by {{ user.username }} ({{ pokers.total }})</h1>
    {% for game in pokers.items %}
        <article class="media content-section ">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile_pics/' + game.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.player_games', username=game.author.username) }}">{{ game.author.username }}</a>
              <small class="text-muted">{{ game.date_played.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2>{{ game.hand_name }}</h2>
            <p >{{ game.status }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in pokers.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if pokers.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('users.player_games', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.player_games', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}