{% extends "layout.html" %}
{% block content %}
<div class="">
    <div>
        <p><a class="nav-item nav-link btn btn-success btn-sm btn-block" type="button" href="{{ url_for('games.show_cards', username=current_user.username) }}">Play</a></p>
    </div>

    <div class="centralize">
        {% for cardl_image  in cards_list_b  %}
            <img src="{{ url_for('static', filename='images/cards/4_of_Spades.png' )  }}", width='25', height='40' alt="{{ card_image }}" />
            <img src="{{ url_for('static', filename='images/cards/King_of_Hearts.png')  }}", width='25', height='40' alt="{{ card_image }}" />
            <img src="{{ url_for('static', filename='images/cards/Ace_of_Diamonds.png')  }}", width='25', height='40' alt="{{ card_image }}" />
            <img src="{{ url_for('static', filename='images/cards/Ace_of_Hearts.png')  }}", width='25', height='40' alt="{{ card_image }}" />
            <img src="{{ url_for('static', filename='images/cards/2_of_CLubs.png')  }}", width='25', height='40' alt="{{ card_image }}" />
            <img src="{{ url_for('static', filename='images/cards/10_of_Diamonds.png')  }}", width='25', height='40' alt="{{ card_image }}" />
            <img src="{{ url_for('static', filename='images/cards/Jack_of_CLubs.png')  }}", width='25', height='40' alt="{{ card_image }}" />
            <img src="{{ url_for('static', filename='images/cards/4_of_Spades.png' )  }}", width='25', height='40' alt="{{ card_image }}" />
            <img src="{{ url_for('static', filename='images/cards/King_of_Hearts.png')  }}", width='25', height='40' alt="{{ card_image }}" />
            <img src="{{ url_for('static', filename='images/cards/Ace_of_Diamonds.png')  }}", width='25', height='40' alt="{{ card_image }}" />
            {% endfor %}
    </div>
    <div>
        <p><a class="nav-item nav-link btn btn-success btn-sm btn-block" type="button" href="{{ url_for('games.show_cards', username=current_user.username) }}">Play</a></p>
    </div>
</div>

{% endblock content %}
