{% extends "layout.html" %}
{% block content %}

<div class="">
    <h1>Tutorial and Gameplay</h1>
</div>

<div class="">
    <p>
        1. First, make sure all players have agreed on the buy-in amount and any blinds or antes that will be used. 
        The buy-in is the amount of money each player needs to participate in the game. Blinds and antes are forced 
        bets that must be made by certain players before the cards are dealt. <br>
        <br>
        2. Each player is dealt two face-down "hole" cards. These cards are dealt one at a time, starting with the 
        player to the left of the dealer button (a small disk that is rotated clockwise around the table after each 
        hand to determine the order of betting). <br><br>

        3. The first player to act is the player to the left of the big blind (the player who posts the largest forced 
        bet). This player has the option to fold, which means they forfeit their cards and are out of the hand. They can 
        also call, which means they match the amount of the big blind, or raise, which means they increase the bet. <br><br>

        4. Play then continues clockwise around the table, with each player having the option to fold, call, or raise. If 
        a player raises, the other players must either call (match the raise) or fold.<br><br>

        5. Once all players have acted, the dealer reveals the first three "community" cards (called the "flop"). These 
        cards are shared by all players and can be used in combination with their hole cards to make the best possible 
        hand. <br><br>

        6. The second round of betting begins, with the first player to act being the player to the left of the dealer 
        button. Players can check (meaning they do not want to make a bet, but they do want to stay in the hand), bet 
        (meaning they are initiating a bet), or fold (meaning they forfeit their cards and are out of the hand). <br><br>

        7. The dealer then reveals the fourth community card (called the "turn"). Another round of betting takes place, 
        starting with the first player to the left of the dealer button. <br><br>

        8. The dealer then reveals the final community card (called the "river"). A final round of betting takes place, 
        starting with the first player to the left of the dealer button.<br><br>

        9. If there are two or more players remaining after the final betting round, they will reveal their hole cards and 
        the player with the best hand wins the pot. If there is a tie, the pot is split among the tying players. The best 
        hand is determined by ranking the cards according to the following hierarchy: <br><br>

        Royal flush: A straight flush that starts with the 10 and ends with the ace.<br>
        Straight flush: Five cards of the same suit in consecutive rank order.<br>
        Four of a kind: Four cards of the same rank.<br>
        Full house: Three of a kind and a pair.<br>
        Flush: Five cards of the same suit.<br>
        Straight: Five cards in consecutive rank order.<br>
        Three of a kind: Three cards of the same rank.<br>
        Two pair: Two pairs of cards with the same rank.<br>
        One pair: Two cards of the same rank.<br>
        High card: The highest card in a player's hand if no other hand is present.<br>
        <p/>
    </div>

{% endblock content %}